.userdummy_login_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .userdummy_login_container_one,
  .userdummy_login_container_two {
    margin-bottom: 20px;
  }
  
  .userdummy_login_container_one label,
  .userdummy_login_container_two label {
    font-weight: bold;
  }
  
  .userdummy_login_container_one input,
  .userdummy_login_container_two input,
  .userdummy_login_button {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .userdummy_login_button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
  }
  
  .userdummy_login_button:hover {
    background-color: #0056b3;
  }
  